@page "/createdept"

@using ClientNamespace;
@inject HttpClient httpClient;
@inject NavigationManager navigate;

<h3>Create Department</h3>
<button @onclick="@create">Save</button>

@code {
    async Task create()
    {
        var client = new ClientProxy("https://coreapiappservicecxd.azurewebsites.net/", httpClient);

        var dept = new Department()
            {
                DeptNo=32, DeptName="SL2", Capacity=400, Location="Bangalore"
            };

        var deptResponse = await client.CreateoneAsync(dept);
        if (deptResponse != null)
        {
            navigate.NavigateTo("/deptlist");
        }


    }



}
